*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #f7f7fb;
    overflow-x: hidden;

}
nav{
    background-color: white;
    padding: 15px 40px;
}
.main-container{
    
    width:100%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    
    
}
.heading{
    display: flex;
    gap: 18px;
}
.logo{
   background-color: rgb(164, 3, 164);
   border: none;
   border-radius: 50%;
   font-size: 16px;
   color: white;
   height: 44px;
   width: 44px;

}
.box1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
    color: black;

}
.header{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin: auto;
    font-size: 30px;
}
.contact{
    border: none;
    color: white;
    background-color: rgb(144, 86, 198);
    height: 54px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 13px;
}
.hero{
    width: 100%;
    padding: 60px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;

}
.hero-left{
    width: 50%;
   
}
.hero-btn{
    background-color:#a245a2;
    color:white;
    border: none;
    padding:10px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 44px;
    height: 62px;
    width: 100px;
    font-size: 17px;
    box-shadow: 0px 0px 7px 4px #bd71bd;
}
.image{
    display: flex;
    justify-content: flex-end;
    width: 412px;
    
    
}
.img{
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 20px;
    box-shadow: -2px 1px 12px 5px #b1a7b1;
}
.hero-title{
 margin-bottom:20px;
 font-size: 50px;
 
}
.explain{
    font-size: 20px;
}
.hero-btn:hover{
    background-color: #8a2c8a;
    cursor: pointer;
}
.box3{
display: flex;
gap: 5px;
background-color: #ba65ba;
height: 115px;
width: 200px;
color: #fff9f9;
font-size: 40px;
border-radius: 5px;
box-shadow: 1px 1px 14px 0px #826868;
text-align: center;
align-items: center;
margin-left: 10px;
font-weight: bold;

}
.box4{
  display: flex;
gap: 5px;
background-color: #ba65ba;
height: 115px;
width: 200px;
color: #fff9f9;
font-size: 23px;
border-radius: 5px;
box-shadow: 1px 1px 14px 0px #826868;
text-align: center;
align-items: center;
margin-left: 10px;
font-weight: bold;
}
.box5{
   display: flex;
gap: 5px;
background-color: #ba65ba;
height: 115px;
width: 200px;
color: #fff9f9;
font-size: 31px;
border-radius: 5px;
box-shadow: 1px 1px 14px 0px #826868;
text-align: center;
align-items: center;
margin-left: 10px;
font-weight: bold;   
}
.main-box{
    display: flex;
   
    gap:36px;
}
.town {
    display: flex;
    align-items: center;      
    justify-content: space-between; 
    gap: 60px;                
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto; 
}


.image {
    flex: 1; 
    max-width: 450px; 
    height:500px;
    width:180px; 
         
}

.img {
    width: 100%;              
    height: auto;
    border-radius: 20px;
    display: block;
}

.town-des {
    flex: 1;
}

.town-tilte {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: sans-serif;
   
}

.explanination {
    margin-bottom: 30px;
    color:#ca50cb;
    font-size: 25px;
    line-height: 1.6;
    font-weight: bold;
    font-family: math;
}
.main-towncontainer{
 box-shadow: -1px 0px 7px 2px #c0a8a8;
    border-radius: 2%;
    margin-top: 42px;
    background-color: #fffbf9;
height: 600px;
    width:97%;
    margin-left: 23px;
   
}
.button-town{
    display: flex;
    justify-content: center;
    gap: 45px;
}
.town-btn{
    background-color: blueviolet;
    height:44px;
    width:117px;
    color:white;
    border-radius: 5px;
    border: none;
    box-shadow: 0px -1px 4px 2px blueviolet;
   

}
.town-but{
    height:44px;
    width:117px;
        background-color: white;
    font-size: medium;
    border: 1px solid rgb(224 223 223);
    border-radius: 2px;
    
    
}
.town-btn:hover{
    background-color:rgb(116, 71, 157);
    width:125px;
    height:47px;
    box-shadow:rgb(116, 71, 157) ;
    transform: scale(1.04);
}
.town-but:hover{
color:blue;
cursor: pointer;
border: 1px solid blue;
}
.sub-point{
    height:40px;
    width:101px;
    position: relative;
    
    left: -400px;
    top: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;

}

.pic{
    width:50px;
    height:auto;
    display: block;
}
.work{
    text-align: center;
    margin-top: 100px;
    

}
.work-heading{
    font-weight: bold;
   text-transform: uppercase;
   font-size: 40px;
   
}
.work-des{
    font-family: math;
    font-size:21px;
    font-weight: bold;
    color:rgb(116, 71, 157);
}
.image-box{
    height: 210px;
    width:350px;
    background-color: #fffcfc;
    display: flex;
    justify-content: center;
    border-radius: 23px;
    box-shadow: inset 2px -4px 5px 3px #d7cccc;
}
.image-box:hover{
    box-shadow: -3px 5px 8px 6px #d7cccc ;
    
}
.box-head{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;

   
    
}
.process-box1{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
   
}
.process-box2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
.para-box{
    margin-top: 66px;
   margin-left: -37px;

}
.box-des{
    margin-top: 10px;
    font-family: math;
    font-weight: 400;
}
.pic-box{
    height: 39px;;
    width:40px;
    margin-top: 10px;
    

}
.pic-box:hover{
    background-color: whitesmoke;
}
.reserch-box{
    height: 50px;
    width: 44px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    background-color:#fde7fd;
   
    align-items: center;
    transition: background-color 180ms ease;
    cursor: pointer;

}
.r{
    color:blueviolet !important;
   
}
.s{
    font-size: 36px !important;
}

 .reserch-box:hover{
   
    background-color: blueviolet;
    transition: 180ms;
    color:white;
   
}
.reserch-box:hover .r {
    color: white !important;
}
.reserch-box:hover .s {
    font-size: 40px !important;
   
}
.main_portfolio_part{
    background-color: #fff2f2;
}
.portfolio_part{
    align-items: center;
    text-align: center;
    margin-top: 80px;
    background-color: #fff2f2;
}
.portfolio_head{
    font-family: monospace;
   
    font-size: 86px;
    color: #98278e;
}
.portfolio_des{
    font-family: math;
    font-size: 20px;
    color: #8e8282;
}
.portfolio_mainbox{
    display: flex;
    justify-content: center;
    gap: 86px;
    margin-left: 20px;
     
     margin-top: 30px;
}
 .portfolio_image{
    height: 295px;
    width:390px;
 }  


 
 .inside_box{
 margin-top: 10px;
    border: 1px solid #c5b7b7;
    box-shadow: 0px 1px 13px 2px #cdc5c5;
    border-radius: 2px;
 }
 .outside_box{
    margin-top: 57px;
    border: 1px solid #c5b7b7;
    box-shadow: 0px 1px 13px 2px #cdc5c5;
    border-radius: 2px;
 }
 .box_head{
   
    font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
    margin-left: 27px;
    color: #826868;
    
 }
 .box_des{
    font-size: 21px;
    margin-left: 27px;
    color: #181515;
    font-weight: 700;
    margin-top: 5px;
    font-family: math;

 }
 .box_explain{
     font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
    margin-left: 27px;
    color: #826868;
 }
 .box_but{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 45px;
    width: 161px;
    font-size: 15px;
   
    font-weight: 700;
    font-family: monospace;
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
    border: 1px solid #ddd4d4;
    cursor: pointer;


 }
 
 .sign{
    display: flex;
    align-items: center;
 }
 .box_but:hover{
    border: 1px solid rgb(129, 46, 206);
    color: blueviolet;
    width: 180px;
 }
 .inside_box:hover{
    box-shadow: 0px 1px 13px 2px #bad093 ;
    transition: 0.7s ease;
 }
.outside_box:hover{
    box-shadow:0px 1px 13px 2px #bad093  ;
     transition: 0.7s ease;
}
.button_class{
   height: 49px;
   width:115px;
   cursor: pointer;
   color: rgb(255, 255, 255);
   background-color: blueviolet;
   border: none;
   border-radius: 2px;
   font-size: 16px;
   box-shadow: 0px 1px 3px 5px blueviolet;
}
.container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.button_class:hover{
    width:130px;
height: 55px;
}
.adversitment_part{
    margin-top: 30px;
    background-color: #101026; 
   
    color:white;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 25px;
}
.adversitment_head{
    font-size: 54px;
    font-weight: bold;
    font-family: sans-serif;
    

    
}
.adversitment_explain{
    margin-top: 10px;
    font-family: math;
    color:#a493a4;;
}
.adversitment_but{
    margin-top: 22px;
    height: 56px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 480px;
    
}
.adversitment_but:hover{
    background-color: rgb(114, 5, 215);
}
.blog_header{
    text-align: center;
    margin-top: 76px;
}
.blog_head{
    font-size: 66px;
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    line-height: 1.4;
background: linear-gradient(-45deg, #8A2BE2, #4B0082, #9370DB, #483D8B);
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    
    overflow: hidden; 
    
}
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.blog_explain{
    margin-top: 10px;
    font-size: 24px;
    font-family: math;
    color: #bcaeae;
}
.blog_mainbox{
   display: flex;
    flex-wrap: wrap; 
    gap: 20px;       
    width: 100%;     
    padding: 20px
}
.blog_box{
    height: 250px;   

    width: 250px;    
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
   
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.blog_write {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog_des {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}
.blog_img{
    height: 67%;
    width:100%;
    object-fit:cover;
}
.blog_box:hover{
 box-shadow: 2px 0px 6px 0px #8946b2;
}  
.service_part{
    margin-top: 140px;
    background-color:#f9f2f2;;
}
.service_head{
   padding: 40px;
   font-size: 70px;
   font-weight: bold;
   font-family: sans-serif;
}
.service_explain{
    font-size: 18px;
    margin-left: 10px;
    font-family: math;
    font-weight: 400;
    font-display: optional;
}
   




