*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #f7f7fb;
    overflow-x: hidden;

}
nav{
    background-color: white;
    padding: 15px 40px;
}
.main-container{
    
    width:100%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    
    
}
.heading{
    display: flex;
    gap: 18px;
}
.logo{
   background-color: rgb(164, 3, 164);
   border: none;
   border-radius: 50%;
   font-size: 16px;
   color: white;
   height: 44px;
   width: 44px;

}
.box1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
    color: black;

}
.header{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin: auto;
    font-size: 30px;
}
.contact{
    border: none;
    color: white;
    background-color: rgb(144, 86, 198);
    height: 54px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 13px;
}
.hero{
    width: 100%;
    padding: 60px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;

}
.hero-left{
    width: 50%;
   
}
.hero-btn{
    background-color:#a245a2;
    color:white;
    border: none;
    padding:10px;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 44px;
    height: 62px;
    width: 100px;
    font-size: 17px;
    box-shadow: 0px 0px 7px 4px #bd71bd;
}
.image{
    display: flex;
    justify-content: flex-end;
    width: 412px;
    
    
}
.img{
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 20px;
    box-shadow: -2px 1px 12px 5px #b1a7b1;
}
.hero-title{
 margin-bottom:20px;
 font-size: 50px;
 
}
.explain{
    font-size: 20px;
}
.hero-btn:hover{
    background-color: #8a2c8a;
    cursor: pointer;
}
.box3{
display: flex;
gap: 5px;
background-color: #ba65ba;
height: 115px;
width: 200px;
color: #fff9f9;
font-size: 40px;
border-radius: 5px;
box-shadow: 1px 1px 14px 0px #826868;
text-align: center;
align-items: center;
margin-left: 10px;
font-weight: bold;

}
.box4{
  display: flex;
gap: 5px;
background-color: #ba65ba;
height: 115px;
width: 200px;
color: #fff9f9;
font-size: 23px;
border-radius: 5px;
box-shadow: 1px 1px 14px 0px #826868;
text-align: center;
align-items: center;
margin-left: 10px;
font-weight: bold;
}
.box5{
   display: flex;
gap: 5px;
background-color: #ba65ba;
height: 115px;
width: 200px;
color: #fff9f9;
font-size: 31px;
border-radius: 5px;
box-shadow: 1px 1px 14px 0px #826868;
text-align: center;
align-items: center;
margin-left: 10px;
font-weight: bold;   
}
.main-box{
    display: flex;
   
    gap:36px;
}

